// Color variables (appears count calculates by raw css)
@color0: #0094ff; // Appears 4 times
@color1: #ffffff; // Appears 3 times
@color2: #555be6; // Appears 3 times

// Width variables (appears count calculates by raw css)
@width1: 141px; // Appears 3 times
@width2: 280px; // Appears 3 times


body {
	padding-bottom: 20px;
	padding-top: 50px;
}
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}
.form-control {
	-moz-border-radius: 8px;
	border-radius: 8px;
	&:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
.dropdown-menu {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn {
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.dl-horizontal {
	dt {
		white-space: normal;
	}
}
input {
	max-width: @width2;
}
select {
	max-width: @width2;
}
textarea {
	max-width: @width2;
}
.voffset {
	margin-top: 2px;
}
.voffset1 {
	margin-top: 5px;
}
.voffset2 {
	margin-top: 10px;
}
.voffset3 {
	margin-top: 20px;
}
.voffset4 {
	margin-top: 40px;
}
.voffset5 {
	margin-top: 80px;
}
.meetups {
	list-style: none;
	li>.meetup {
		.date {
			.detail_link {
				color: white;
				text-decoration: none;
			}
			.month {
				text-transform: uppercase;
			}
		}
		.details {
			.rpgGame {
				font-size: large;
				font-weight: bold;
			}
			.gameMaster {
				position: relative;
				top: 0;
			}
		}
		.actions {
			-ms-border-radius: 8px;
			background-color: orange;
			border-radius: 8px;
			color: white;
			height: 21px;
			left: 89px;
			position: relative;
			text-align: center;
			top: -57px;
			width: @width1;
		}
	}
	li>.game {
		.details {
			.rpgGame {
				font-size: large;
				font-weight: bold;
			}
			.gameMaster {
				position: relative;
				top: 0;
			}
		}
	}
}
.meetups>li {
	.meetup {
		height: 70px;
		width: 235px;
		.date {
			-ms-border-radius: 8px;
			background-color: orange;
			border-radius: 8px;
			color: white;
			text-align: center;
			width: 80px;
		}
		.details {
			-ms-border-radius: 8px;
			background-color: orange;
			border-radius: 8px;
			color: white;
			height: 60px;
			left: 89px;
			position: relative;
			text-align: center;
			top: -60px;
			width: @width1;
		}
	}
	.game {
		.details {
			-ms-border-radius: 8px;
			background-color: orange;
			border-radius: 8px;
			color: white;
			height: 36px;
			left: 89px;
			position: relative;
			text-align: center;
			top: -60px;
			width: @width1;
		}
	}
}

.meetupDetails{
	font-size:20px;
}


.gameName {
	font-size:24px;
    -ms-border-radius: 8px;
    background-color: orange;
    border-radius: 8px;
    padding:10px;
    text-align: center;
    border-spacing:20px;   
    .game_link {				
    color: white;
	text-decoration:none;
    }
}


.label-meetup {
    background-color:@color0
}

.attending {
    position: relative;
    top: -105px;
    left: 250px;
    font-size:18px;
    max-width:100px;
    min-width:100px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-fixed-top {
	min-height: 80px;
}
.navbar-collapse {
	background-color: @color0;
	border-color: @color0;
}
.navbar-inverse {
	background-color: @color0;
	background-image: none;
	border-color: @color0;
	.navbar-nav>.open>a {
		background-color: @color2;
		background-image: none;
		color: @color1;
		&:hover {
			background-color: @color2;
			color: @color1;
		}
		&:focus {
			background-color: @color2;
			color: @color1;
		}
	}
	.navbar-nav>.active>a {
		background-image: none;
	}
	.navbar-nav>li>a {
		color: white;
	}
	.navbar-brand {
		color: white;
	}
}
.navbar-nav>li>a {
	font-size: 24px;
	line-height: 80px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.navbar-brand {
	font-size: 24px;
	line-height: 80px;
	padding-bottom: 0px;
	padding-top: 0px;
}
span.field-validation-error {
	color: red;
	font-weight: bold;
} 
.badge {
	background-color: orangered;
	border-radius: 8px;
	font-size: 15px;
	left: 114px;
	position: relative;
	top: -98px;
}