body {
  padding-bottom: 20px;
  padding-top: 50px;
}
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
.form-control {
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn {
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.dl-horizontal dt {
  white-space: normal;
}
input {
  max-width: 280px;
}
select {
  max-width: 280px;
}
textarea {
  max-width: 280px;
}
.voffset {
  margin-top: 2px;
}
.voffset1 {
  margin-top: 5px;
}
.voffset2 {
  margin-top: 10px;
}
.voffset3 {
  margin-top: 20px;
}
.voffset4 {
  margin-top: 40px;
}
.voffset5 {
  margin-top: 80px;
}
.meetups {
  list-style: none;
}
.meetups li > .meetup .date .month {
  text-transform: uppercase;
}
.meetups li > .meetup .details .rpgGame {
  font-size: large;
  font-weight: bold;
}
.meetups li > .meetup .details .gameMaster {
  position: relative;
  top: 0;
}
.meetups li > .meetup .actions {
  -ms-border-radius: 8px;
  background-color: orange;
  border-radius: 8px;
  color: white;
  height: 21px;
  left: 89px;
  position: relative;
  text-align: center;
  top: -57px;
  width: 141px;
}
.meetups li > .game .details .rpgGame {
  font-size: large;
  font-weight: bold;
}
.meetups li > .game .details .gameMaster {
  position: relative;
  top: 0;
}
.meetups > li .meetup {
  height: 70px;
  width: 235px;
}
.meetups > li .meetup .date {
  -ms-border-radius: 8px;
  background-color: orange;
  border-radius: 8px;
  color: white;
  text-align: center;
  width: 80px;
}
.meetups > li .meetup .details {
  -ms-border-radius: 8px;
  background-color: orange;
  border-radius: 8px;
  color: white;
  height: 60px;
  left: 89px;
  position: relative;
  text-align: center;
  top: -60px;
  width: 141px;
}
.meetups > li .game .details {
  -ms-border-radius: 8px;
  background-color: orange;
  border-radius: 8px;
  color: white;
  height: 36px;
  left: 89px;
  position: relative;
  text-align: center;
  top: -60px;
  width: 141px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-inverse {
  background-color: #0094ff;
  border-color: #0094ff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background-color: #555be6;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #555be6;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #555be6;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-bottom-color: white;
  border-top-color: white;
}
.navbar-fixed-top {
  min-height: 80px;
}
.navbar-nav > li > a {
  font-size: 24px;
  line-height: 80px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.navbar-brand {
  font-size: 24px;
  line-height: 80px;
  padding-bottom: 0px;
  padding-top: 0px;
}
span.field-validation-error {
  color: red;
  font-weight: bold;
}
.badge {
  background-color: orangered;
  border-radius: 8px;
  font-size: 15px;
  left: 114px;
  position: relative;
  top: -98px;
}