@model RpgGameHub.Core.ViewModels.DetailViewModel
@using RpgGameHub.Extensions

@{
    ViewBag.Title = Model.Heading;
}

<h1>@Model.Heading</h1>

<hr />

<div class="meetupDetails voffset4" ng-controller="MeetupController">
    <span ng-init="getMeetupDetail(@Model.id)"></span>
    <div class="voffset2">
        <text class="text-info gameName">
                <a class="game_link" href="{{meetup.url}}" target="_blank">{{meetup.rgpGameName}}</a>
        </text>
    </div>
    <div class="dateTime voffset3">
        <label class="label label-default label-meetup">Meetup Info:</label>
        <div ng-if="!meetup.isCancelled">
            <text class="text-info">{{meetup.handle}} will be running the meetup on {{meetup.date}} at {{meetup.time}}.</text>
        </div>
        <div ng-if="meetup.isCancelled">
            <text class="text-danger"> {{meetup.handle}} has cancelled the meetup scheduled for {{meetup.date}} at {{meetup.time}}.</text>
        </div>
    </div>
    <div>
        <label class="label label-default label-meetup voffset3">This and that:</label>
        <div>
            <text class="text-info ">
                {{meetup.details}}
            </text>
        </div>
    </div>
    <div>
        <label class="label label-default label-meetup voffset3">Hub Info:</label>
        <div>
            <text class="text-info">
                {{meetup.hub}}
            </text>
        </div>
    </div>
</div>

